@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 98%;
  --foreground: 0 0% 3.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.6%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.6%;
  --primary: 271 35% 65%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 215 16% 47%;
  --accent: 271 35% 65%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 271 35% 65%;
  --radius: 0.625rem;
}

.dark {
  --background: 0 0% 3.6%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.6%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.6%;
  --popover-foreground: 0 0% 98%;
  --primary: 271 35% 65%;
  --primary-foreground: 0 0% 9%;
  --secondary: 217 33% 17%;
  --secondary-foreground: 0 0% 98%;
  --muted: 217 33% 17%;
  --muted-foreground: 215 14% 34%;
  --accent: 271 35% 65%;
  --accent-foreground: 0 0% 3.6%;
  --destructive: 0 86% 97%;
  --destructive-foreground: 0 72% 51%;
  --border: 217 33% 17%;
  --input: 217 33% 17%;
  --ring: 271 35% 65%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}
